* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10em;
	background: hsl(185, 75%, 39%);
	font-family: "Kumbh Sans";
	h2 {
		color: hsl(229, 23%, 23%);
	}

	/*
    	header {
		.circleOne {
			position: absolute;
			top: -10vh;
			left: -20vh;
			width: 100%;
			z-index: -1;
		}
		.circleTwo {
			position: absolute;
			width: 100%;
			right: -50vw;
			bottom: 15vh;
			z-index: -1;
		}
	} 
    */

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 87%;
		background: white;
		border-top-left-radius: 10%;
		border-top-right-radius: 10%;
		.banner {
			width: 100%;
			height: 7em;
			background-image: url("../images/bg-pattern-card.svg");
			border-top-right-radius: 15px;
			border-top-left-radius: 15px;
		}
		.imageVictor {
			border: 5px solid white;
			border-radius: 100%;
			position: relative;
			bottom: 3em;
			margin-bottom: -2em;
		}
		.dataVictor {
			display: flex;
			h2 {
				font-size: 1.3rem;
			}
			p {
				color: hsl(0, 0%, 59%);
				position: relative;
				margin-left: 0.3em;
				font-size: 1.3rem;
			}
		}
		.city {
			color: hsl(0, 0%, 59%);
			margin-top: 0.4em;
			margin-bottom: 1.5em;
		}
	}
	footer {
		background: white;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
		padding-top: 2em;
		border-top: 1px solid rgb(236, 232, 232);
		width: 87%;
		padding-bottom: 1.5em;
		border-end-end-radius: 15px;
		border-end-start-radius: 15px;
		div {
			margin: 0;
			h2 {
				font-size: 1.2rem;
			}
			p {
				font-size: 0.7rem;
				margin-top: 0.3em;
				color: hsl(0, 0%, 59%);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	body {
		max-width: 60%;
		margin-left: 10em;
	}
}

@media screen and (min-width: 1024px) {
	body {
		max-width: 50%;
		margin-left: 16em;
		main {
			h2 {
				font-size: 1.6rem !important;
			}
			.dataVictor {
				p {
					font-size: 1.5rem;
				}
			}
			.city {
				font-size: 1.3rem;
			}
		}
		footer {
			h2 {
				font-size: 1.5rem !important;
			}
			p {
				font-size: 1.2rem !important;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
	body {
		max-width: 40%;
		margin-left: 27em;
	}
}

@media screen and (min-width: 1920px) {
	body {
		max-width: 25%;
		margin-left: 45em;
		margin-top: 15em;
		header {
			.circleOne {
				position: absolute;
				top: -50vh;
				left: -15vh;
				width: 50%;
				z-index: -1;
			}
			.circleTwo {
				position: absolute;
				width: 50%;
				right: -5vw;
				bottom: 5vh;
				z-index: -1;
			}
		}
	}
}
